<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>The latest fashion news</h1>
			<br>
			<button type="button" class="btn btn-info" id="scrape">Scrape the news</button>
		</div>
	</main>

	<div>
		 
			
	</div>


	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>